<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to my Contact Book, <%= @contact.firstname %></h1>
    <p>Thanks and have a great day!</p>
  </body>
</html>